
<div ui-codemirror ui-codemirror-opts="editorOptions" ng-model="ref.code"></div>


<!--       <input type="text" class="form-control" ng-model="ref.input" />

    <div class="input-group pull-right">
      <button type="button" class="btn btn-danger" ng-click="clean()">Clean</button>
      <button type="button" class="btn btn-success" ng-click="run()">Run</button>
    </div>
 -->


<div class="input-group">
  <input type="text" class="form-control" placeholder="Input" ng-model="ref.input">
  <span class="input-group-btn">
    <button type="button" class="btn btn-danger" ng-click="clean()">Clean</button>
    <button type="submit" class="btn btn-success" ng-click="run()">Run</button>
  </span>
</div>


<div class="row">
  <div class="col-lg-12">
    <label>Output</label>
    <pre>{{ref.output}}</pre>
  </div>
</div>
